<p id="notice"><%= notice %></p>

<h1>Grupas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Semestr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupas.each do |grupa| %>
      <tr>
        <td><%= grupa.name %></td>
        <td><%= grupa.semestr %></td>
        <td><%= link_to 'Show', grupa %></td>
        <td><%= link_to 'Edit', edit_grupa_path(grupa) %></td>
        <td><%= link_to 'Destroy', grupa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupa', new_grupa_path %>
